@inject IJSRuntime jsr

<div class="navbar">
    <NavLink href="">
        <img src="images/logo.png" class="logo">
    </NavLink>
    
    <nav>
        <ul id="menuList">
            <li>
                <NavLink href="findthestray" class="menu-font">IDENTIFY A STRAY</NavLink>
            <!--<a href="counter" class="menu-font">IDENTIFY A STRAY</a>-->
            </li>
            <li>
                <!--<a href="fetchdata" class="menu-font">ADOPT A PET</a>-->
                <NavLink href="adoptapet" class="menu-font">ADOPT A PET</NavLink>
            </li>
            <li>
                <!--<a href="fetchdata" class="menu-font">ADOPT A PET</a>-->
                <NavLink href="aboutus" class="menu-font">WHO ARE WE?</NavLink>
            </li>
        </ul>
    </nav>

    <img src="images/menu.png" class="menu-icon" onclick="ToggleMenuParent()" />
</div>

@code
{
    private async Task ToggleMenuParent()
    {
        await jsr.InvokeVoidAsync("togglemenuParent");
    }

}