<div class="navbar">
    <NavLink href="">
        <img src="images/logo.png" class="logo">
    </NavLink>
    <nav>
        <ul id="menuList">
            <li>
                <NavLink href="blobstorageuploadhttp" class="menu-font">Blobstorage Upload Http</NavLink>
            </li>
            <li>
                <NavLink href="blobstorageuploadeventgrid" class="menu-font">Blobstorage Upload EventGrid</NavLink>
            </li>
            <li>
                <NavLink href="formupload" class="menu-font">Form Upload</NavLink>
            </li>
        </ul>
    </nav>
</div>
