
    <h2 class="fileUploadDialogHeader">Let us find a nearest shelter</h2>
    <div class="fileUploadbox">
        <BlazorInputFile.InputFile accept="image/png,image/gif,image/jpeg" OnChange="UploadFileAsync" />
        @DefaultMessage
    </div>
   
