<div class="disclaimer">
    <p>© Copyright 2021-2022 Pet Rescue & Adoption Project</p>
    <p>This website is ficticious. This is designed as part of the demo done for azure dev stories 2020. Go to
        <a href="https://devstories.konfhub.com/" target="_blank">Azure Developer Stories</a>
    </p>
</div>