@using PetIdentificationUI.Components.Shared.SignalR
<p>Use @correlationId to track this flow in app insights</p>
@if(_petIdentificationCanonical == null)
{  
    <h2 class="fileUploadDialogHeader">Let us try identifying the pet</h2>
    <div class="fileUploadbox">
        <BlazorInputFile.InputFile accept="image/png,image/gif,image/jpeg" OnChange="UploadImageAsync" />
        @DefaultMessage
    </div>
}
else
{
    <div class="card">
                <BreedInformationCard BreedInformation="_petIdentificationCanonical.BreedInformation" />
                <AdoptionCentresTable AdoptionCentres="_petIdentificationCanonical.AdoptionCentres" />
    </div>

}