@using PetIdentificationUI.Models
<h4>Following centres can foster this breed for adoption</h4>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>ZipCode</th>
    </tr>

    @foreach(AdoptionCentre centre in AdoptionCentres)
    {
        <tr>
        <td>@centre.Name</td>
        <td>@centre.Address</td>
        <td>@centre.ZipCode</td>
        </tr>
    }
    
</table>