@if(_petIdentificationCanonical == null)
{
    <p><em>We are working on it!</em></p>
}
else
{
    <div class ="row" >
    <div class="col-1">
        <AdoptionCentresTable AdoptionCentres="_petIdentificationCanonical.AdoptionCentres" />
    </div>
    <div class="col-2">
        <BreedInformationCard BreedInformation="_petIdentificationCanonical.BreedInformation" />
    </div>
</div>
}
