@page "/findthestray"

<div class="container">

    
    <div class="row">
    
        @if(_isInitialized)
        {
            <div class="col-1">
                <h2>#makeadifference</h2>
                <h3>Have you seen a stray dog or cat?</h3>
                <p>Like humans, pets need a safe haven to evolve in to the magical beings they are. <br>
                    <b>Help us foster a pet.</b><br> Upload a quick photo and we will tell you what breed of pet it is and its qualities.
                    We will inform the pet shelters in our network who have the ability to care for the breed.
                </p>
                <button type="button" @onclick= "SetInitializedFlag">Yes Please
                    <img src="images/arrow.png">
                </button>
            </div>
            <StrayPuppy></StrayPuppy>
        }
        else
        {
            <UploadFiles UserId=@userId></UploadFiles>

        }
        
    </div>
</div>

<pet_rescue_ui.Components.Disclaimer></pet_rescue_ui.Components.Disclaimer>

@code
{
    
    private bool _isInitialized;
    private string userId;

    protected override void OnInitialized()
    {
        _isInitialized = true;
        userId = Guid.NewGuid().ToString();
    }

    private void SetInitializedFlag()
    {
        _isInitialized = false;
    }
    

}